container_commands:
  01_fix_permissions:
    command: |
      chown -R webapp:webapp storage bootstrap/cache
      chmod -R 775 storage bootstrap/cache
  02_fix_storage_link:
    command: |
      rm -f public/storage
      php artisan storage:link
  03_rebuild_cache:
    command: |
      php artisan cache:clear
      php artisan config:clear
      php artisan route:clear
      php artisan optimize
