container_commands:
  00_create_dirs_and_permissions:
    command: |
      mkdir -p storage/logs storage/framework/cache/data storage/framework/sessions storage/framework/testing storage/framework/views bootstrap/cache
      chmod -R 777 storage bootstrap/cache
  01_migrate:
    command: "php artisan migrate --force"
    leader_only: true
  02_storage_link:
    command: "php artisan storage:link"
  03_clear_cache:
    command: "php artisan cache:clear"
  04_optimize:
    command: "php artisan optimize"
